ul 
    padding-left: 0px !important

.ni-atom__careerlist
    margin: 10px 0px
    color: rgb(92, 92, 92)
    font-size: 14px

.ni-atom__carreerh3
    font-size: 18px
    color: rgb(92, 92, 92)
   
@media screen and (max-width:600px)

    .ni-about__sidebar 
        width: 100% !important

    .ni-container-person 
        width: 100% !important

    .ni-atom-footerdescription
        padding-left: 0px
       
@media only screen and (min-width: 600px)

    .ni-footer-wrapper__area
        width: auto

    .ni-atom-borderleft
        border-left: 1px solid #bec5c7

    .ni-footer-listitems
        display: flex

    .ni-org-footer__fullwidth
        max-width: 100% !important

@media only screen and (min-width: 992px)

    .ni-container-person
        width: 1050px !important
        background-color: white

    .ni-container-background
        background-color: #cacbcd !important

    .ni-about__sidebar 
        width: 77% !important
        margin: 0px 0px 0px auto

    .ni-personr__head 
        padding-right: 50px !important

    .ni-row__padd 
        padding: 0px 30px !important

    .ni-org-footer-container 
        padding: 50px !important

    .ni-footer-listitems 
        padding-left:1.5rem !important

    .ni-atom-footerdescription1
        padding-left:1.5rem !important
        font-size: 10px
        color: #a3abad


