/* here goes the styles for page  https://www.nuanceinvestments.com/tv  ;  https://www.nuanceinvestments.com/knowledge

.ni-tv__wrapper
    background-color:  $grey2
    padding: 30px 5px 40px 5px
    margin-bottom: 10px

.ni-tv__gridwrap
    display: grid
    justify-content: center
    grid-template-columns: 1fr 1fr
    column-gap: 20px
    grid-row-gap: 25px

.ni-tv__h2
    text-align: center
    font-size: 18px
    font-weight: bold
    margin-bottom: 20px
    color: #3c425f

.ni-tv__card
    background-color: #fff
    -moz-box-shadow: 0 0 8px #8a8a8a
    box-shadow: 0 0 8px #8a8a8a
    padding-bottom: 40px

.ni-tv__card-image
    width: 100%
    padding-bottom: 10px

.ni-tv__card-a
    font-size: 13px
    font-weight: bold

.ni-tv__p1
    font-size: 12px
    color: #3c6b93
    padding-top: 20px
    line-height: 15.6px

.ni-knowl__grid
    display: grid
    grid-template-columns: 1fr
    background-color: #FFF
    gap:4px


.ni-knowl__wrap
    padding: 20px 0px
    background-color: $grey2

.ni-knowl__h2
    font-size: 15px
    margin: 0px 20px 20px 20px

.ni-knowl__gwrapper
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 20px

@media screen and ( min-width:768px)
    .ni-tv__h2
        text-align: left
        margin-bottom: 30px

    .ni-tv__gridwrap
        grid-template-columns: 1fr 1fr 1fr


    .ni-tv__wrapper
         padding: 30px 25px 40px 25px

    .ni-knowl__h2
        margin: 0px
        margin-bottom: 20px

    .ni-knowl__wrap
       padding: 20px
    .ni-knowl__grid
        // padding: 0px 20px
        grid-template-columns: 1fr 1fr

@media screen and ( min-width:992px)
    .ni-tv__gridwrap
        grid-template-columns: 200px 200px 200px 200px
        justify-content: flex-start

    .ni-tv__wrapper
         padding-left: 40px

    .ni-tv__p1
        padding-right: 19px

    .ni-knowl__grid
        padding: 0px

    .ni-knowl__gwrapper
        grid-template-columns: 200px 200px